<mat-card class="article-card" [ngClass]="cssClass">
  <button mat-button class="article-card-header" [routerLink]="'/article/' + article.slug">
    <mat-card-title class="article-card-title">{{ article.title }}</mat-card-title>
    <mat-card-subtitle class="article-card-subtitle">{{
      article.publishedAt | date: 'dd-MM-yyy'
    }}</mat-card-subtitle>
  </button>
  <mat-divider></mat-divider>
  <mat-card-content class="card-content">
    <p>{{ article.summary }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="article-card-actions">
    <button *ngFor="let tag of article.tags" mat-button color="accent" (click)="onClick(tag)">
      {{ tag }}
    </button>
  </mat-card-actions>
</mat-card>
