<mat-card class="post-card">
	<mat-card-header>
		<mat-card-title>Changes in Angular 9</mat-card-title>
		<mat-card-subtitle class="post-card-subtitle">17/02/2020</mat-card-subtitle>
	</mat-card-header>
  <mat-card-content>
    <p>
      Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content.
    </p>
    <p>
      Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content. Sample text for mat card content.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href="#">angular</a>
  </mat-card-actions>
</mat-card>