.article-card {
  padding: 0;
}

.card-content {
  margin: 0;
  padding: 1em;
}

.article-card-header {
  width: 100%;
  text-align: left;
  padding: 0.25em 1em 0.25em 1em;
  white-space: normal;
}

.article-card-title {
  margin: 0;
}

.article-card-subtitle {
  margin: 0;
}

.article-card-actions {
  margin: 0 !important;
  padding: 0.25em 0em !important;
}
