<mat-card>
  <mat-card-header>
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle>{{ article.publishedAt | date: 'dd-MM-yyy' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="card-content">
    <p>{{ article.summary }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button *ngFor="let tag of article.tags" mat-button color="accent" (click)="onClick(tag)">
      {{ tag }}
    </button>
  </mat-card-actions>
</mat-card>
