<div fxLayout="column" fxFlexFill class="home-container">
  <mat-paginator
    fxFlex="10"
    class="card-paginator"
    [length]="pagedArticles.totalCount"
    [pageSize]="pagedArticles.pageSize"
    [pageIndex]="pagedArticles.pageIndex"
    [hidePageSize]="true"
    (page)="onPageEvent($event)"
  ></mat-paginator>
  <div class="ps envelope-ps" perfectScrollbar>
    <app-article-card
      *ngFor="let article of pagedArticles.results; let last = last"
      [article]="article"
      [cssClass]="{ 'mb-10': !last }"
    ></app-article-card>
    <div></div>
  </div>
</div>
