.nav {
  height: 100%;
  background: #273747;
  color: azure;
  padding: 10px;
}

.avatar {
  align-content: center;
  text-align: center;
}

.avatar > img {
  width: 50%;
  border-radius: 50%;
  padding: 10px;
}

.r-sidebar {
  background: slategray;
}

.social-icon-container {
  width: 100%;
  text-align: center;
}

fa-icon {
  font-size: 1.6rem;
  padding: 5px;
}

.main-container {
  background: #667687;
}