<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxFlexFill>
  <div fxFlex="20" fxFlex.xs="60" class="nav">
    <div class="avatar">
      <img src="../assets/mzd2.jpg" alt="Avatar">
    </div>
    <ul>
      <li>Home</li>
      <li>Blog</li>
      <li>About me</li>
      <li>Contact</li>
    </ul>

    <div class="social-icon-container">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
      <fa-icon [icon]="faGithub"></fa-icon>
      <fa-icon [icon]="faYoutube"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faFacebook"></fa-icon>
    </div>

  </div>

  <div fxFlex="60" class="main-container">
    <app-text-editor class="width-100pc"></app-text-editor>
    <app-post-detail class="width-100pc"></app-post-detail>
  </div>

  <div fxFlex="20" class="r-sidebar">Right sidebar</div>
</div>

<router-outlet></router-outlet>
