<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxFlexFill>
  <div fxFlex="20" fxFlex.xs="60" class="nav">
    <div class="avatar">
      <img src="../assets/mzd2.jpg" alt="Avatar">
    </div>
    <nav fxLayout="column">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/about" routerLinkActive="active">About me</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>

    <div class="social-icon-container">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
      <fa-icon [icon]="faGithub"></fa-icon>
      <fa-icon [icon]="faYoutube"></fa-icon>
      <fa-icon [icon]="faTwitter"></fa-icon>
      <fa-icon [icon]="faFacebook"></fa-icon>
    </div>

  </div>

  <div fxFlex="60" class="main-container">
    <router-outlet></router-outlet>
  </div>

  <div fxFlex="20" class="r-sidebar">Right sidebar</div>
</div>
