.nav {
  height: 100%;
  background: #273747;
  color: azure;
}

.avatar {
  align-content: center;
  text-align: center;
}

.avatar > img {
  width: 50%;
  border-radius: 50%;
  padding: 10px;
}

.r-sidebar {
  background: slategray;
}
