.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-item-container {
  background: #273747;
  color: azure;
}

.mat-nav-list .mat-list-item.active {
  background: darkslategray;
}

.avatar {
  align-content: center;
  text-align: center;
  outline: 0;
}

.avatar > img {
  width: 50%;
  border-radius: 50%;
  padding: 10px;
}

.r-sidebar {
  background: slategray;
  display: flex;
}

.social-icon-container {
  width: 100%;
  text-align: center;
  overflow: auto;
}

fa-icon {
  font-size: 1.6rem;
  padding: 5px;
}

.main-container {
  display: flex;
}

.width-100pc {
  width: 100%;
}
