<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxFlexFill>
  <div fxFlex="20" fxFlex.xs="60" class="nav">
    <mat-sidenav class="sidenav" opened>
      <div class="avatar" routerLink="/" tabindex="-1">
        <img src="../assets/mzd2.jpg" alt="Avatar" />
      </div>

      <mat-nav-list class="nav-item-container" fxLayout="column">
        <mat-list-item
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</mat-list-item
        >
        <mat-list-item routerLink="/blog" routerLinkActive="active">Blog</mat-list-item>
        <mat-list-item routerLink="/about" routerLinkActive="active">About me</mat-list-item>
        <mat-list-item routerLink="/contact" routerLinkActive="active">Contact</mat-list-item>
      </mat-nav-list>

      <mat-nav-list class="social-icon-container" fxLayout="row" fxLayoutAlign="center">
        <a mat-list-item href="https://linkedin.com" target="_blank">
          <fa-icon [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a mat-list-item href="https://github.com" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a mat-list-item href="https://youtube.com" target="_blank">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
        <a mat-list-item href="https://twitter.com" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
        <a mat-list-item href="https://facebook.com" target="_blank">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  </div>

  <div fxFlex="60" class="main-container">
    <router-outlet></router-outlet>
  </div>

  <div fxFlex="20" class="r-sidebar">
    <app-category-list></app-category-list>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise-fade"
  [fullScreen]="true"
>
</ngx-spinner>
