<form [formGroup]="articleForm">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      formControlName="{{ formMb.TITLE }}"
      placeholder="Awesome Title Goes Here"
      required
    />
    <!-- <mat-error *ngIf="email.invalid">Title is required</mat-error> -->
  </mat-form-field>

  <div style="display: flex; flex-direction: column;">
    <label #radioLabel class="radio-label mat-caption">Publish: </label>
    <mat-radio-group aria-labelledby="radioLabel" formControlName="{{ formMb.PUBLISHED }}">
      <mat-radio-button [value]="false" class="radio-button">No</mat-radio-button>
      <mat-radio-button [value]="true" class="radio-button">Yes</mat-radio-button>
    </mat-radio-group>

    <!-- <div
      *ngIf="notificationType.hasError('required') && psForm.submitted"
      class="error"
    >
      Notification Type is required.
    </div> -->
  </div>

  <mat-form-field appearance="fill">
    <mat-select
      formControlName="{{ formMb.TAGS }}"
      placeholder="Tags"
      [multiple]="true"
      #multiSelect
    >
      <mat-option>
        <ngx-mat-select-search
          [formControl]="tagFilterCtrl"
          placeholderLabel="Search"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
